.ipynb_checkpoints/avocado-checkpoint.ipynb
.ipynb_checkpoints/data_analysis_machine_learning-checkpoint.ipynb
.ipynb_checkpoints/election_unemployement_minimum_wage-checkpoint.ipynb
.ipynb_checkpoints/price_prediction-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb

**/.ipynb_checkpoints/*